*.egg-info
*.env
*.venv
build
dist
*.pyc
__pycache__
*.lock.json
celerybeat-schedule
*.rdb
*.pids/
*.pants.d/
.nimbella
.deployed
__deployer__.zip
node_modules
.DS_Store
.pytest_cache
virtualenv/
functions/packages/*/*/core
service-account.json
*.db